*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

li{
    list-style: none;
}

footer ul li {
    width: max-content;
    margin: 0 auto;
}
.bg-gray{
    background-color: #f6f5f3;
}

.bg-violet{
    background-color: #7c69a4   ;
}

.hg-50{
    height: 50px;
}
.txt-center{
    text-align: center;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.d-flex-column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}

.social{

}

.tag-social{

}